.selectPage {
  display: inline-block;
  padding: 0.625rem;
}
.selectPage h4 {
  text-align: center;
}
.selectPage h4 span {
  display: inline-block;
  margin-right: 0.5rem;
}
.selectPage select {
  font-size: 1rem;
  padding: 0.313rem 0.375rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .selectPage h4 span {
    margin-right: 1rem;
  }
  .selectPage select {
    font-size: 1rem;
    padding: 0.625rem 1rem;
    font-weight: 900;
  }
}
