.autocompleteFormGroup {
  position: relative;
}
.autocompleteSuggestions {
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
.autocompleteSuggestions li {
  padding: 4px 8px;
  cursor: pointer;
}
.autocompleteSuggestions li:hover {
  background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  .autocompleteSuggestions {
    background-color: #333;
    border: 1px solid #999;
  }
.autocompleteSuggestions li:hover {
  background-color: #666;
}
}
