:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 3.25rem;
  padding-top: 3.75rem;
}

img {
  max-width: 15.625rem;
}

input,
button {
  font-size: 1.5rem;
  padding: 0.625rem 1rem;
  border: 1px solid green;
  font-weight: 900;
}
input {
  border-right: none;
  color: rgb(18, 145, 18);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (min-width: 768px) {
  body {
    padding-top: 5.125rem;
    padding-bottom: 5.125rem;
  }
}
#pageTitle,
.loadingContainer {
  text-align: center;
}

#overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul {
  padding-left: 1.563rem;
}

.imgContainer {
  margin-right: 1.563rem;
}

#resultTitle {
  text-align: center;
  margin-bottom: 1.563rem;
  font-weight: 300;
}

#testErrorContainer {
  text-align: right;
  padding: 0.5rem;
}

#testErrorButton {
  font-size: 0.75rem;
  padding: 0.188rem 0.5rem;
}

#pages {
  list-style: none;
  text-align: center;
  margin: auto;
  background-color: #ccc;
  padding: 0.938rem;
}
.pageItem {
  display: inline-block;
  margin: 0.125rem;
}

.pageItem span,
.pageItem a {
  font-weight: 900;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border: 1px solid #999;
  color: #999;
}

.pageItem a:hover {
  border: 1px solid blue;
  color: blue;
}

.pageItem span {
  background-color: blue;
  border: 1px solid blue;
  color: white;
}

@media (max-width: 575px) {
  #contentContainer article {
    display: block;
  }

  .imgContainer {
    text-align: center;
    margin-right: 0;
  }
}
