#contentContainer {
  position: fixed;
  top: 3.75rem;
  bottom: 3.25rem;
  overflow-y: auto;
  background-color: white;
  width: 100%;
}

@media (min-width: 768px) {
  #contentContainer {
    top: 5.125rem;
    bottom: 5.125rem;
  }
}
